

.container {
     background-size:cover ;
       
        
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 100px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 40px;
}

  
.navbar ul li a {
     color: #000;
     text-decoration:none;
     font-size: 15px;
     font-family: 'Bowlby One SC', cursive;
     font-weight:lighter;
 }


body{
    background-image: url('../image/fondo.jpg');
    background-position: center;
}

.product img {
    width: 250px;
    margin: auto;
    padding: 50px 100px;

}

 h1 {
    text-align: center;
    color:#000;
     
    font-size:40pt;
    margin: 10px 0px;
    font-family: 'MonteCarlo', cursive; 
}
.product h3 {
    text-align: center;
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
        
}
.product p {
    text-align: center;
    font-size: 1.5em;
    color: cadetblue;
}
.card {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) 0 1px 2px rgba(0,0,0,0.24);
    }



